{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
     {% if error_msg %}
            <p>{{ error_msg }}</p>
     {% endif %}
     {% if category_data %}
            <h3>Category: {{ category_data }}</h3>
     {% endif %}
     {% if Archive_data %}
            <h3>Archive: {{ Archive_data }}</h3>
     {% endif %}
     {% if Tag_data %}
            <h3>Tag: {{ Tag_data }}</h3>
     {% endif %}
     {% for post in post_list %}
        <article class="post post-1">
            <header class="entry-header">
               <h1 class="entry-title">
                   <a href="{% url 'blog:detail' post.0.pk %}"> {{ post.0.title }} </a>
               </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#"> {{ post.0.category.name }} </a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.create_time }}"> {{ post.0.create_time }} </time></a></span>
                    <span class="post-author"><a href="#"> {{ post.0.author }} </a></span>
                    <span class="comments-link"><a href="#"> Comments: {{ post.1 }}</a></span>
                    <span class="views-count"><a href="{% url 'blog:detail' post.0.pk %}"> Views: {{ post.0.views }}</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p> {{ post.exerpt }} </p>
                <div class="read-more cl-effect-14">
                    <a href="{% url 'blog:detail' post.0.pk %}" class="more-link">Read more <span class="meta-nav">=></span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post"> No articles right now! </div>
    {% endfor %}

     {% if is_paginated %}
        <div class = "pagination" style="background-color:white">
            <h4>
            {% if page_obj.has_previous %}
                <a href="?page=1">First Page</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous <-</a>
            {% endif %}
            {% if first %}
                <a href="?page=1">1</a>
            {% endif %}
            {% if left %}
                {% if left_has_more %}
                    <span> ... </span>
                {% endif %}
                {% for i in left %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
            {% endif %}
            <a href="?page={{ page_obj.number }}" style="color:red">{{ page_obj.number }}</a>
            {% if right %}
                {% for i in right %}
                    <a href="?page={{ i }}"> {{ i }} </a>
                {% endfor %}
                {% if right_has_more %}
                    <span> ... </span>
                {% endif %}
            {% endif %}
            {% if last %}
                <a href="?page={{ paginator.num_page }}">{{ paginator.num_pages }}</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">-> Next</a>
                <a href="?page={{ paginator.num_page }}">Last Page</a>
            {% endif %}
            </h4>
        </div>
    {% endif %}
{% endblock main %}
