<!DOCTYPE html>
{% load staticfiles %}
{% load blog_tags %}
<html>
<head>
    <title>llxxll12345</title>
    <!--include this line if there's any problem loading static files-->

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <!--script src="{% static 'blog/js/script.js' %}"></script-->

    <style>
        span.highlighted {
            color: orange;
        }

        .row {
            background-color: white;
        }

        body {
            background-color: white;
        }
    </style>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1 ><a href="{% url 'blog:index' %}" id="mainlogo"> LLXXLL12345</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="HOME">HOME</a></li>
                            <li class="cl-effect-11"><a href="#" data-hover="BLOG">BLOG</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="ABOUT">ABOUT</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="CONTACT">CONTACT</a></li>
                            <li class="cl-effect-11"><a href="#" data-hover="-------------">GAMES</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#">
                        <span id="search-icon" class="ion-ios-search-strong">

                        </span>
                    </a>
                        <div id="search-form" class="search-form">
                            <span> Search</span>
                            <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                                <input type="search" name="q" placeholder="Make a search" required>
                                <button type="submit"><span class="ion-ios-search-strong"></span></button>
                            </form>
                        </div>
                 </div>
            </div><!-- col-md-8 -->
        </div>
        <div class="row">
            <div class ="col-md-4">
                <a href="https://www.github.com/llxxll12345">
                    <img src="{% static 'blog/img/github.jpg' %}" id="github" height="50px" width="50px">
                </a>
                <h5 id="linkgit">Link to my GitHub</h5>
            </div>
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">Lastest articles</h3>
                    {% get_recent_posts as recent_post_list %}
                    <ul>
                        {% for post in recent_post_list %}
                        <li>
                            <a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>
                        </li>
                        {% empty %}
                        <li>
                            <a href="#"> No recent articles! </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">Archives (MM-YYYY)</h3>
                    {% get_archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="{% url 'blog:archives' date.year date.month %}">{{ date.month }} - {{ date.year }} <span>({{ date.num_posts }})</span></a>
                        </li>
                        {% empty %}
                        <li>
                            <a href="#">No archived articles!</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">Categories</h3>
                    {% get_category as cate_list %}
                    <ul>
                        {% for cate in cate_list %}
                        <li>
                            <a href="{% url 'blog:categories' cate.pk %}">{{ cate.name }} <span class="post-count"> ({{ cate.num_posts }}) </span></a>
                        </li>
                        {% empty %}
                        <li>
                            <a href="#">No available categories! </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">Tag cloud</h3>
                    {% get_tag as tags %}
                    <ul>
                        {% for tag in tags %}
                        <li>
                             <a href="{% url 'blog:tags' tag.pk %}">{{ tag.name }} <span class="post-count"> ({{ tag.num_posts }}) </span></a>
                       </li>
                        {% empty %}
                        <li>
                            <a href="#">No available tags!</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href="{% url 'rss' %}"><!--span class="ion-social-rss-outline"></span--> RSS subscription</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2018 - Template collected from<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">HOME</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="{% url 'blog:about' %}">ABOUT</a></li>
            <li><a href="{% url 'blog:contact' %}">CONTACT</a></li>
        </ul>
    </nav>
</div>
<script>
var searchvisible = 0;
console.log("loaded.");

$("#linkgit").hide();
$("#search-menu").click(function(e){
    //This stops the page scrolling to the top on a # link.
    e.preventDefault();

    var val = $('#search-icon');
    if(val.hasClass('ion-ios-search-strong')){
        val.addClass('ion-ios-close-empty');
        val.removeClass('ion-ios-search-strong');
    }
    else{
        val.removeClass('ion-ios-close-empty');
        val.addClass('ion-ios-search-strong');
    }


    if (searchvisible === 0) {
        $("#search-form").slideDown(200);
        $("#s").focus();
        searchvisible = (searchvisible + 1) % 3;
    }
    else if (searchvisible === 1){
        $("#search-form").slideUp(200);
        $("#search-form-adv").slideDown(200);
        $("#s").focus();
        searchvisible = (searchvisible + 1) % 3;
    } else {
        $("#search-form-adv").slideUp(200);
        searchvisible = (searchvisible + 1) % 3;
    }


});

$("#github").mouseenter(function() {
    $("#linkgit").slideDown(100);
});
$("#github").mouseleave(function() {
    $("#linkgit").slideUp(100);
});
</script>
</body>
</html>
